{% extends "base_generic.html" %}

{% load static %}

<!-- Custom styles for this template -->

{% block content %}
{% for worker in workersList %}
    <img class="rounded mx-auto d-block" src="{{ MEDIA_URL }}{{ worker.1 }}">
    <br>
    <div class="about">
        <p>{{ worker.0 }}, {{ worker.2 }}</p>
    </div>

    <div class="row">
        <div class="col-md-5 offset-md-5">
            <div class="titulos_aboutme">
                <h5>Títulos:</h5>
                <ul>
                    {% for title in worker.3 %}
                        <li>{{ title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-5">
            <div class="titulos_aboutme">
                <h5>Colaboraciones:</h5>
                <ul>
                    {% for collaboration in worker.4 %}
                        <li>{{ collaboration }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}