{% extends "base_generic.html" %}

{% load static %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0"
  nonce="jYGiRwRm"></script>
<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

</div>
<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height=""
  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
      href="https://www.facebook.com/facebook">Meta</a></blockquote>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}