{% extends "base_generic.html" %}

{% load static %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0"
  nonce="jYGiRwRm"></script>
<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

</div>
<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height=""
  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
      href="https://www.facebook.com/facebook">Meta</a></blockquote>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br>
<footer class="footer footer-color">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6 style="color:white;"><img src="{% static 'img/logo-menos-ancho.png' %}" style="top:1000px" width="21.8"
            height="32.3">
          Fisioterapia Diego Villalba. </h6>
        <ul class="list-unstyled list-position">
          <li><a href="/">Inicio</a></li>
          <li><a href="">Acerca de</a></li>
          <li><a href="{% url 'contact' %}">Contacto</a></li>
          <li><a href="">Reservas</a></li>
        </ul>

        <ul class="nav icons-position">
          <li class="nav-item"><a href="https://www.facebook.com/people/Fisioterapia-Diego-Villalba/100072784454524/"
              class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/dvillalba.fisio/?utm_medium=copy_link"
              class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5 class="text-md-right" style="color:white">Contacte con nosotros</h5>
        <hr style="color:white; ">

        <form method="post" action="mailto:apbatecaz@gmail.com"  enctype="multipart/form-data" name="EmailForm">
          <input type="email" id="email" name="email" class="form-control" placeholder="Introduzca su email" required>
          <br>
          <textarea name="message" class="form-control" placeholder="Introduzca su mensaje aquí" rows="5" cols="20"></textarea>
          <br>
          <input class="btn" type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</footer>
{% endblock %}