{% extends "base_generic.html" %}


{% block content %}
{% load static %}

  <div class="text-center">
    <form class="form-signin" method="post" action="registerUser">
      {% csrf_token %}
      <img class="logo" src="{% static 'img/logo-menos-ancho.png' %}" alt="" width="218" height="323">
      <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
      <br>


        <input type="text" id="login" name="login" class="form-control" placeholder="Nombre de usuario" required autofocus>
        <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required autofocus>
        <input type="text" id="surname" name="surname" class="form-control" placeholder="Apellidos" required autofocus>
        <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>

<!--  -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
      <!-- TODO Preguntar si poner el copy<p class="mt-5 mb-3 text-muted">&copy; 2022-2018</p>-->
      <br> <br> <br>
      <p>Ya tienes cuenta? <a href="{% url 'login'%}?next={{request.path}}">Inicia sesión</a>.</p>
    </form>


  </div>
{% endblock %}
