.footer-color{
    background-color:black;
}

.list-position{
    margin-left:75px;
}

.icons-position{
    margin-left:60px;
}

.fb-placement{
    margin-left:200px;
}

.header-placement{
    margin-top:auto;
}
