
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <img class="logo" src="{% static 'img/logo-menos-ancho.png' %}" alt="" width="218" height="323">
      <h1 class="h3 mb-3 font-weight-normal">Inicio sesión</h1>
      
      <br>
      <!-- TODO REVISAR SI HAY TIEMPO EL LOGIN
      <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Nombre de usuario" required autofocus>
      
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
      -->
      {{form.username}}
      {{form.password}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
      <p>No tienes cuenta? <a href="register.html">Registrate aquí</a>.</p>

    </form>
    <br> <br> <br>
  </body>
